<html>
    <head>
        <% include ../../public/partials/head %>
    </head>

    <body>
            <%- include('adminnav'); -%>
            
<footer>
    <% include ../../public/partials/footer %>
</footer>

    </body>

</html>