<!-- views/partials/head.ejs -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8"/>
<title>DBIT Journal</title>

<!--We are using CDn for Materialize-CSS right now-->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<link type="text/css" rel="stylesheet" href="css/main.css" />

<style>
    body    { padding-top:0px; }
</style>
